name: upload files to server

on: [push]

jobs:
  test_uploading_of_file:
    name: Test uploading of file to server in staging environment
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Upload RDF-file to static-rdf-server in staging
        uses: ./
        with:
          ontology-type: examples
          ontology: hello-world
          files: |
            testfiles/hello-world.ttl text/turtle en

            testfiles/hello-world-en.html text/html en images/logo.png
          host: https://staging.fellesdatakatalog.digdir.no
          api-key: ${{ secrets.API_KEY }}
